body{
    text-align: center;
    font-family: 'Arial';
    color: #000;
}
h1{
    padding: 0;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
}
p{
    text-decoration: dashed;
}
.header{
    padding: 1rem;
    background-color: darkgrey;
}
.titulo-articulo{
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}